@model IEnumerable<DeadlineRequest>
@{
    ViewBag.Title = "Book session renewal";

}

@section Stylesheets {
    <link href="~/css/RequestStyles.css" rel="stylesheet" />
}

<h1>Requests</h1>

<form asp-controller="Admin" asp-action="RequestHandler" method="post">
    @{ int index = 0; }
    @foreach (DeadlineRequest request in Model)
    {
        <input hidden asp-for="@Model.ToList()[index].RequestId" />
        <input hidden asp-for="@Model.ToList()[index].BorrowedId" />
        <input hidden asp-for="@Model.ToList()[index].IsDeleted" />
        int bookId = _borrowedBooksRepository.GetBorrowedBook(request.BorrowedId).BookId;
        <div class="request-wrapper">
            <div class="request-data">
                <div>
                    <label>Book title:</label>
                    @_bookRepository.GetBook(@bookId).Name
                </div>
                <div>
                    <label>Book author:</label>
                    @_bookRepository.GetBook(@bookId).Author
                </div>
                <div>
                    <label>Member Id:</label>
                    @_borrowedBooksRepository.GetBorrowedBook(request.BorrowedId).UsersId
                </div>
            </div>
            <div class="request-status">
                <label asp-for="@request.RequestStatus">Confirmation:</label>
                <div>
                    <select asp-for="@Model.ToList()[index].RequestStatus" asp-items="Html.GetEnumSelectList<Status>()">
                    </select>
                </div>
            </div>
        </div>
        index++;
    }

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>